/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ----------- Utility Classes ----------- */

.container{
width: 80vw;
max-width: 960px;
margin: 40px auto;
}


body {
  background-color: palegreen;
  font-family: "Annie Use Your Telescope", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

header.primary {
  background-color: #fa98c9;
  color: palegreen;
  text-align: center;
  text-shadow: 2px 2px #7a5467;
  padding: 40px;
}

header.primary h1 {
  font-size: 3rem;
  margin: 20px, 0, 0;
}

header.primary h1 a {
  color: #2A502A;
  text-decoration: none;
}

header.primary h2 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 2px;
}

nav.primary {
  
}

nav.primary ul {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 900px;
  margin: 20px auto;
}


nav.primary ul li {
  list-style-type: none;
}

nav.primary ul li a {
  font-size: 1.5rem;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border: 3px double palegoldenrod;
  background-color: rgba(142, 34, 70, 0.515);
  border-radius: 10px;
  transition: 0.6s;
}

nav.primary ul li a:hover { 
  background-color: rgba(142, 34, 70, 0.923);
  text-shadow: 2px 2px #2d1e25;

}

#content h2 { 
  border-bottom: 3px solid rgb(206, 153, 101);
}

#content h3 {
  border-left: 3px solid rgb(206, 153, 101);
  padding: 5px 0 5px 10px;
}