/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ----------- Utility Classes ----------- */

.container {
  width: 80vw;
  max-width: 960px;
  margin: 40px auto;
}

/*  --------------- Responsive Images-----------------  */

img{
  max-width:100%;
}


body {
  background-color: palegreen;
  font-family: "Annie Use Your Telescope", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

header.primary {
  background-color: #fa98c9;
  color: palegreen;
  text-align: center;
  text-shadow: 2px 2px #7a5467;
  padding: 40px;
}

header.primary h1 {
  font-size: 3rem;
  margin: 20px, 0, 0;
}

header.primary h1 a {
  color: #2a502a;
  text-decoration: none;
}

header.primary h2 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 2px;
}

nav.primary ul {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 900px;
  margin: 20px auto;
}

nav.primary ul li {
  list-style-type: none;
}

nav.primary ul li a {
  font-size: 1.5rem;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border: 3px double palegoldenrod;
  background-color: rgba(142, 34, 70, 0.515);
  border-radius: 10px;
  transition: 0.6s;
}

nav.primary ul li a:hover {
  background-color: rgba(142, 34, 70, 0.923);
  text-shadow: 2px 2px #2d1e25;
}

#content h2 {
  border-bottom: 3px solid rgb(206, 153, 101);
}

#content h3 {
  border-left: 3px solid rgb(206, 153, 101);
  padding: 5px 0 5px 10px;
}

@media screen and (max-width:500px) {
  nav.primary ul {
    flex-direction: column;
    gap: 10px;
    max-width:200px;
    margin: 20px auto;
  }
}

nav.primary ul li a {
  display: block;
}


#blog{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:30px;
  border-top: 2px solid gray;
  padding: 20px 0px;
}

#blog article.post{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  padding:10px;
  font-size:1rem;
  border-radius:4px;
  transition:.5s;
}

#blog article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

figure{
  margin:0;
}

figcaption { 
  text-transform: uppercase;
}

aside[role="complementary"]{
  background: paleturquoise;
  padding: 40px 0px;
}

aside .container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

aside .container a[href*="#"]{

  display: block;
  
  color: palevioletred;
  
  text-align: right;
  
  }

  aside article footer {
    display: none;
  }