* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    margin:0;
    background: rgb(255, 255, 255);
    height: 100vh;
}


header {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

header h1 a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s;
}

header h1 a:hover  {
    color: rgb(250, 104, 104);
}

#nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 15px;
}

#nav ul li { 
    display: inline;
}

#nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.3s;
}

#nav a:hover {
    color: #ffeb3b;
}

#mars-image { 
    width:100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#rovers {
    position: relative;
    text-align: center;
}

#rovers h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(45%);
    color: white;
    font-size: 5rem;
    font-weight: 700;
}

#rovers h2 span{
    color: #b22222;
}

#overview { 
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
}

#overview h3 { 
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

footer { 
    color: white;
    width: 100%;
    background-color: black;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

footer a { 
    text-decoration: none;
    color: lightblue;
    transition: color 0.3s;
}

footer a:hover { 
    color: orange;
}

.mars_pics { 
    margin: 50px auto;
    max-width: 900px;
    overflow: hidden;
}

.slick-slide { 
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.mars_pics img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    aspect-ratio: 16/9;
}