body { 
    background-image: url("lines.png");
    background-size: cover;
    background-repeat: no-repeat;
}
h1, h2 { 
    color: rgba(255, 255, 255, 0.654) !important;
    text-shadow: 0 0 5px darkgray, 0 0 10px gray;

}

hr { 
    opacity: 0.8 !important;
}
