* { 
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
}


html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
}

.inverted-text { 
    color: #80F291 !important;
    mix-blend-mode: difference;
}
#navbar {
    display: flex;
    height: 100vh;
    flex-grow: 3;
    flex-direction: column;
    backdrop-filter: sepia(50%) blur(3px);
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

#left {
    justify-content: flex-start;
    flex-direction: column;
}
h1 {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 4rem;
    margin: 10px 5px;
    font-weight: 100;
    color: #D4C2FC;
    text-shadow: 2px 2px 1px #2F1B55;
    padding: 5px 20px;
}


h2 { 
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
}

a { 
    color: #E1D1FF;
    transition: color 0.3s ease;
    text-decoration: none;
}

a:hover { 
    color: #836EAA;
    text-shadow: 0 0 8px #836EAA;
    text-decoration: underline;
}

ul {
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

li {
    font-size: 1.3rem;
    display: block;
    padding: 10px;
    border: 1px solid #FFFDD1;
    margin: 15px auto;
    border-radius: 10px;
    transition: 0.3s ease-out;
    background: linear-gradient(135deg, #1e1e2f63, #68688e);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.76);

}

#positioning {
    flex-direction: row;
    margin-top: 30px;
}

#positioning li {
    display: inline-block;
    margin: auto 10px;
    padding: 20px;
    border: 1px solid orange;
}

li:hover {
    transform: scale(1.05);
    box-shadow: 1px 6px 6px 2px rgba(0, 0, 0, 0.96);
}

@media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
    #navbar {
        justify-content: center;
        align-items: center;
    }
    #positioning {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  }